<header>
  
<a routerLink="/" class="logo-link">
  <app-themed-image
    [baseUrl]="logoUrl"
    [fallbackUrl]="logoUrl"
    alt="Idundahl logotyp"
  />
  <app-wordmark />
</a>
  <!---<form (submit)="onSearch($event)">
    <input type="search" name="q" placeholder="Sök..." />
  </form> 

  <nav>
    <a routerLink="/">Start</a>
    <a routerLink="/search">Sök</a>
    <a routerLink="/series">Serie</a>
    <a href="#" aria-label="Gillade">♡</a>
    <a routerLink="/basket" aria-label="Varukorg">🛒</a>
    <a routerLink="/admin">Admin</a>
  </nav>--->
</header>