<header>
  <a routerLink="/" class="logo">Idundahl</a>

  <!---<form (submit)="onSearch($event)">
    <input type="search" name="q" placeholder="Sök..." />
  </form> --->

  <nav>
    <a routerLink="/">Start</a>
    <a routerLink="/search">Sök</a>
    <a routerLink="/series/lovika">Serie</a>
    <a routerLink="/admin/products">Admin lista</a>
    <a routerLink="/admin/products/new">Admin ny</a>
    <a routerLink="/basket">Varukorg</a>
    <a href="#" aria-label="Gillade">♡</a>
    <a routerLink="/basket" aria-label="Varukorg">🛒</a>
  </nav>
</header>