<article class="series-card">
  <app-themed-image
    [baseUrl]="series().series_variant[0]?.image_url ?? null"
    fallbackUrl="https://fnnyyflzqqvqwanjmnht.supabase.co/storage/v1/object/public/images/shapes/serie"
    [alt]="series().name"
  />
  <div class="series-card-content">
    <h3>{{ series().name }}</h3>
     @if (series().designer) {
      <p class="series-card-designer">Design av {{ series().designer!.name }}</p>
    }
    @if (series().collaborator) {
      <p class="series-card-collaborator">I samarbete med {{ series().collaborator!.name }}</p>
    }
  </div>
   <a [routerLink]="['/series', series().slug]" class="series-card-link">
      Se övriga serien →
    </a>
</article>